@charset "UTF-8";

/* 共通CSS */

html {
  width: 100vw;
  height: auto;
}

body {
  height: auto;
  background-color: #fffbeb;
  color: #4d402f;
  font-size: 14px;
  font-family: "Crimson Text", "Zen Old Mincho", serif, cursive;
  text-align: left;
  letter-spacing: 0.1vw;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #4d402f;
  display: inline-block;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.is-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .is-sp {
    display: block;
  }

  .is-pc {
    display: none;
  }
}

/* header */
#header {
  position: fixed; /* fixedでトップ固定 */
  width: 100vw;
  text-align: center; /* 全部の文字中央よせ */
  height: 11vh; /* top固定 グロナビの高さ */
  background-color: #fff9e3; /* 背景色（他より明るめ） */
  display: flex; /* 横並び */
  justify-content: space-between; /* 両端に寄せる */
  z-index: 100;
}

/* Belleロゴ */
.top-logo img {
  width: 25vw;
  height: 11vh;
  object-fit: contain;
  padding-top: 0vh;
  padding-left: 10%; /* 左側余白 */
}

/* nav */
#nav {
  display: flex;
  justify-content: space-between;
  line-height: 10vh;
  width: 35vw;
  margin: 1vh auto;
  padding-right: 7%; /* 右側余白 */
}

/* nav４つのli */
#nav li a {
  padding: 0vh 0.5vw;
  position: relative; /* アンダーラインのためのrelative */
}

/* nav li アンダーライン */
#nav li a::after {
  position: absolute;
  bottom: 3.5vh;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5px;
  background: #66553e;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.5s;
}

#nav li a:hover::after {
  transform: scale(1, 1);
}
/*** headerここまで ***/

/* main */
#main {
  padding-top: 11vh; /* headerの高さ（11vh）下に下げる */
  width: 100vw;
}

/* main 各コンテンツ共通 */
.contents {
  margin-top: 20vh;
}

/* 下からふっわっと表示 */
.effect-fade {
  opacity: 0;
  transform: translate(0, 45px);
  transition: all 700ms;
  transition-delay: 0.5s;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}
/*** 下からふっわっと表示ここまで ***/

/* h1共通 */
h1 {
  font-family: "Cormorant Infant", "Zen Old Mincho", serif;
  font-size: 4rem;
  font-weight: normal;
}

/* 他ページ h1共通 */
.top-title {
  margin: 10vh auto;
  text-align: center;
}

.btn a {
  position: relative;
  display: inline-block;
  align-items: center;
  padding: 20px 100px 20px 30px;
  max-width: 220px;
  font-size: 16px;
  color: #fff;
  background-color: #616161ce;
  box-shadow: 2px 2px 5px rgba(159, 159, 159, 0.3019607843);
  border-radius: 50px;
  transition: 0.3s;
}

.btn.--right {
  float: right;
}

/* ボタン右の矢印 */
.btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(2em + 5px);
  transform: translateY(-50%) rotate(45deg);
  width: 6px; /* 上の線の長さ*/
  height: 6px; /* 下の線の長さ */
  border-top: 1px solid #fff; /*上の線調整 */
  border-right: 1px solid #fff; /*下の線調整 */
  transition: 0.3s; /* hover時の遅れ */
}

.btn a:hover {
  background-color: #858585a4;
}

.btn a:hover::after {
  right: calc(1.8em + 5px);
}
/*** mainここまで ***/

/* Footer コンタクトセクション */
#footer .contact {
  background-color: #c0c0c01a;
  padding: 50px;
}

#footer .contact .contact-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .contact .contact-flex > li {
  width: auto;
}

/* dl dt ddの調整 */

#footer .contact .contact-flex .li-01 dl dt {
  float: left;
  clear: left;
  width: 120px;
  margin-top: 10px;
}

#footer .contact .contact-flex .li-01 dl dd {
  float: left;
  margin-left: 1em;
  margin-top: 10px;
}

/* アンダーライン */
.under-line a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.under-line a::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5px;
  background: #4d402f;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s;
}

.under-line a:hover::after {
  transform: scale(1, 1);
}

/* li-02 SNSボタン */
.li-02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
}

.li-02 a + a {
  margin-left: 10px;
}

.sns-btn {
  display: inline-block;
  font-size: 5vh;
  transition: 0.5s;
}

/* インスタ・ラインだけ少し大きく */
.sns-btn .fa-instagram,
.sns-btn .fa-line {
  font-size: 5vh;
}

/* Instagram hover時 */
.sns-btn .fa-instagram:hover {
  color: #c6529a;
}

/* LINE hover時 */
.sns-btn .fa-line:hover {
  color: #00c300;
}

/* メールアイコン hover時 */
.sns-btn .fa-envelope:hover {
  color: #f3981d;
}

#footer .copy-right {
  padding: 1%;
  text-align: center;
  background-color: #2b2b2b;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* 共通CSS */

  /* header */
  #header {
    height: 9vh; /* top固定 グロナビの高さ */
  }

  /* Belleロゴ */
  .top-logo img {
    width: 50vw;
    height: 9vh;
    padding-top: 0vh;
  }

  /* main */
  #main {
    padding-top: 9vh; /* headerの高さ（9vh）下に下げる */
  }

  /* main 各コンテンツ共通 */
  .contents {
    margin-top: 10vh;
  }

  /* h1共通 */
  h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  /* 他ページ h1共通 */
  .top-title {
    margin: 5vh auto;
  }

  .top-title h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  /* ボタン共通 */
  .btn {
    display: block;
    width: 100%;
  }

  .btn a {
    display: block;
    margin: 20px auto;
    width: 200px;
    padding: 15px 20px;
  }

  .btn.--right {
    float: none;
  }

  /* ボタン右の矢印 */
  .btn a::after {
    right: calc(1em + 2px);
  }

  .btn a:hover::after {
    right: calc(1.5em + 3px);
  }
  /*** mainここまで ***/

  /* Footer コンタクトセクション */
  #footer .contact {
    padding: 20px;
  }

  #footer .contact .contact-flex {
    flex-direction: column;
  }

  #footer .contact .contact-flex .li-01 {
    margin-top: 2vh;
    width: 95%;
  }

  #footer .contact .course-flex .li-02 {
    text-align: center;
    width: 90%;
  }

  #footer .contact .contact-flex .li-01 dl dt {
    width: 100px;
  }

  /* li-02 SNSボタン */
  #footer .contact .contact-flex > li {
    margin-top: 20px;
    width: 100%;
    margin: 40px auto 0;
  }

  .sns-btn {
    font-size: 3.5vh;
  }

  /* インスタ・ラインだけ少し大きく */
  .sns-btn .fa-instagram,
  .sns-btn .fa-line {
    font-size: 3.5vh;
  }

  #footer .copy-right {
    font-size: 0.6rem;
    height: 6vh;
    line-height: 5vh;
  }
}
